%h2= t("dashboard.twitter.header")
%p!= t("dashboard.twitter.description", :user => current_user.email)
- if @twitter_users.count == 0
  %a{:href => twitter_authorize_account_path}
    =t("dashboard.twitter.authorize")
- else
  - @twitter_users.each do |twitter_user|
    .span-6
      = profile_image(twitter_user, "_normal", 48, 48)
    .span-10.last
      .span-4
        = t("dashboard.twitter.login")
      .span-6.last
        = twitter_user.login
      .span-4
        = t("dashboard.twitter.name")
      .span-6.last
        = twitter_user.name
