.span-8
  =render(:partial => "/dashboard/menu")
.span-16.last
  %h2= t("dashboard.twitter.header")
  %p!= t("dashboard.twitter.description", :user => current_user.email)
  - if @twitter_user.blank?
    %a{:href => twitter_authorize_account_path}
      =t("dashboard.twitter.authorize")
  - else
    .span-6
      %img{:src => @twitter_user.profile_image_url, :height => 100, :width => 100}
    .span-10.last
      .span-4
        = t("dashboard.twitter.login")
      .span-6.last
        = @twitter_user.login
      .span-4
        = t("dashboard.twitter.name")
      .span-6.last
        = @twitter_user.name
    