<div id="box-sign-in">
  <h2 style="font-size: 36px; font-weight: bold; margin-left: 18px; position: relative; color: rgb(122, 194, 244);">Forgotten password</h2>
  <h3 style="color: rgb(49, 133, 195); font-weight: bold; position: relative; margin-left: 18px; font-size: 21px; padding-left: 130px; padding-right: 130px;">Just let us know your email and we'll help you get going.</h3>
  <div id="image-sign-in" style="float: left; margin-left: 29px; margin-top: -25px; position: absolute;">
    <%= image_tag("/images/birds_64/6.png") %>
  </div>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div>  
      <div class="forgotten_password" style="position: absolute; margin-top: -142px; margin-left: 165px;">
  <%#= f.error_notification %>
      </div>

      <div class="inputs">
        <%= f.input :email, :required => true %>
      </div>
      <div class="actions">
        <%= f.button :submit, "", :class => "button-forgotten" %>
      </div>
    <% end %>
  </div>

  <%= javascript_tag("jQuery(document).ready(function() {
  jQuery('span.error').css('margin-left','-195px')
  })") %>