.span-24.last#buffer-basis
  .container#buffer-selector
    %ul#buffer-basis-select.selectable
      %li{:"data-type" => "weekly", :class => tweet_mode_selected(:weekly, @buffer_preference.tweet_mode)}
        = t("buffer_preferences.edit.weekly")
      %li{:"data-type" => "daily", :class => tweet_mode_selected(:daily, @buffer_preference.tweet_mode)}
        = t("buffer_preferences.edit.daily")
    %ul#buffer-expertise-select.selectable
      %li{:"data-type" => "basic", :class => tweet_mode_selected(:basic, @buffer_preference.tweet_mode)}
        = t("buffer_preferences.edit.basic")
      %li{:"data-type" => "expert", :class => tweet_mode_selected(:expert, @buffer_preference.tweet_mode)}
        = t("buffer_preferences.edit.expert")
  .container#buffer-editor
    #loading-screen.hidden
      Loading...
    #weekly_basic.mode-container
      - if @buffer_preference.tweet_mode == :weekly_basic
        = render(:partial => "/buffer_preferences/buffer_weekly_basic", :locals => {:buffer_preference => @buffer_preference})
    #weekly_expert.mode-container
      - if @buffer_preference.tweet_mode == :weekly_expert
        = render(:partial => "/buffer_preferences/buffer_weekly_expert", :locals => {:buffer_preference => @buffer_preference})
    #daily_basic.mode-container
      - if @buffer_preference.tweet_mode == :daily_basic
        = render(:partial => "/buffer_preferences/buffer_daily", :locals => {:buffer_preference => @buffer_preference})
    #daily_expert.mode-container
      - if @buffer_preference.tweet_mode == :daily_expert
        = render(:partial => "/buffer_preferences/buffer_daily", :locals => {:buffer_preference => @buffer_preference})
    #buffer-change-warning.hidden
      =render(:partial => "/buffer_preferences/buffer_warning", :locals => {:buffer_preference => @buffer_preference})