.span-24.last
  %h2= t("buffer_preferences.index.header")
  %p!= t("buffer_preferences.index.description", :user => current_user.email)
  .tabs-container.buffer-tabs#buffer
    %ul.tabs
      - @buffer_preferences.each do |buffer_preference|
        %li
          %a{:href => "##{buffer_preference.permalink}"}
            #{buffer_preference.name}
      %li
        %a{:href => "#new_buffer"}
          =t("buffer_preferences.index.tabs.new_buffer")
    - @buffer_preferences.each do |buffer_preference|
      .clearfix.buffer-panel{:id => buffer_preference.permalink}
        .buffer-preference-pane-links.clearfix
          %ul.link-nav.right
            %li
              %a.dialog.new-tweet{:href => new_tweet_path(@twitter_user, buffer_preference), :"data-width" => 450}
                = t("buffer_preferences.links.new_tweet")
            %li
              %a{:href => edit_twitter_user_buffer_preference_path(@twitter_user, buffer_preference)}
                = t("buffer_preferences.links.edit_buffer")
        %hr
        .buffer-preference-pane-table
          = render(:partial => "/tweets/table", :locals => {:tweets => buffer_preference.tweets})
    #new_buffer.clearfix
      .span-4.twitter-photo
        cool image here
      .span-18.buffer-list.last
        %h3=t("buffer_preferences.index.new_buffer_header")
        %hr
        = simple_form_for([@twitter_user, @twitter_user.buffer_preferences.new], :remote => true) do |form|
          = render(:partial => "/buffer_preferences/form", :locals => {:form => form})