- columns = 2

%table.tweets.sortable
  %tbody
    - tweets.each do |tweet|
      %tr{:id => "tweet_#{tweet.id}"}
        %td.due
          %span.title= t("tables.tweets.due_at")
          %span.time= tweet.due_at(:time)
          %span.date= tweet.due_at(:date)
        %td.content
          = tweet.body
  %tfoot
    - if tweets.count == 0
      %tr.empty
        %td{:colspan => columns}
          = t("tables.empty_no_add", :name => "Tweets")
    - else
      %tr
        %td{:colspan => columns}
          =t("tables.saving")