:javascript
  function selectFileType(fileType) {
    jQuery(".current_type").hide();
    jQuery(".current_type").removeClass("current_type");
    jQuery("#"+fileType).show();
    jQuery("#"+fileType).addClass("current_type");
  }
  var new_form_count = 1
  function new_interval_custom(){
    form_sub = new_form_count += 1
    $('#new_form_count').val(form_sub);
    $('#custom_tf_select').clone().appendTo('#custom_tf_wrapper')
  }

  function update_time_tweet(id, per_day){        
    var time_tweet = $('#days').val();
    jQuery("#loader").show();
    $.get('/update_setting_time?tweet_id=' + id + '&per_day=' + per_day + '&time_tweet=' + time_tweet);
  }

  function checkedBox(val){
    check = jQuery('#check'+val).attr('checked');
    if(check){
      jQuery('#check'+val).removeAttr('checked');
      jQuery('#link'+val).removeClass('active_checkbox_time_setting');
    }else {
      jQuery('#check'+val).attr('checked','checked');
      jQuery('#link'+val).addClass('active_checkbox_time_setting');
    }
  }

= form_tag save_settings_path do
  = check_box_tag "days[]", "1", is_day_of_week_checked?(@twitter_user, "1"), :class => "checkbox_time_setting", :id => "check1"
  = check_box_tag "days[]", "2", is_day_of_week_checked?(@twitter_user, "2"), :class => "checkbox_time_setting", :id => "check2"
  = check_box_tag "days[]", "3", is_day_of_week_checked?(@twitter_user, "3"), :class => "checkbox_time_setting", :id => "check3"
  = check_box_tag "days[]", "4", is_day_of_week_checked?(@twitter_user, "4"), :class => "checkbox_time_setting", :id => "check4"
  = check_box_tag "days[]", "5", is_day_of_week_checked?(@twitter_user, "5"), :class => "checkbox_time_setting", :id => "check5"
  = check_box_tag "days[]", "6", is_day_of_week_checked?(@twitter_user, "6"), :class => "checkbox_time_setting", :id => "check6"
  = check_box_tag "days[]", "7", is_day_of_week_checked?(@twitter_user, "7"), :class => "checkbox_time_setting", :id => "check7"

  = link_to "mon", "#", :onclick => "checkedBox(1);", :id => "link1", :class => "#{is_day_of_week_checked?(@twitter_user, "1") ? "active_checkbox_time_setting" : "" }"
  = link_to "tue", "#", :onclick => "checkedBox(2);", :id => "link2", :class => "#{is_day_of_week_checked?(@twitter_user, "2") ? "active_checkbox_time_setting" : "" }"
  = link_to "wed", "#", :onclick => "checkedBox(3);", :id => "link3", :class => "#{is_day_of_week_checked?(@twitter_user, "3") ? "active_checkbox_time_setting" : "" }"
  = link_to "thu", "#", :onclick => "checkedBox(4);", :id => "link4", :class => "#{is_day_of_week_checked?(@twitter_user, "4") ? "active_checkbox_time_setting" : "" }"
  = link_to "fri", "#", :onclick => "checkedBox(5);", :id => "link5", :class => "#{is_day_of_week_checked?(@twitter_user, "5") ? "active_checkbox_time_setting" : "" }"
  = link_to "sat", "#", :onclick => "checkedBox(6);", :id => "link6", :class => "#{is_day_of_week_checked?(@twitter_user, "6") ? "active_checkbox_time_setting" : "" }"
  = link_to "sun", "#", :onclick => "checkedBox(7);", :id => "link7", :class => "#{is_day_of_week_checked?(@twitter_user, "7") ? "active_checkbox_time_setting" : "" }"
  %br
  %br
  = select_tag :time_setting_type, options_for_select([["Tweet Smart", '1'],["Choose your tweeting time",'2'], ["Customize your tweeting time",'3']]), {:include_blank => "–Select Time Setting Type–", :onchange => "selectFileType(this.value); $('#file_type_'+this.value).val(this.value);"}
  %br
  %br
  %div{:id => "1", :style => "display:none;"}
    =hidden_field :timeframe, :user_id, :value => twitter_user.user.id
    =hidden_field :timeframe, :twitter_user_id, :value => twitter_user.id
    - if @myplan.name.eql?("Free")
      = "1"
      = radio_button_tag 'day_time', '1'
      = "2"
      = radio_button_tag 'day_time', '2'
      = "4"
      = radio_button_tag 'day_time', '4'
      = "6"
      = radio_button_tag 'day_time', '6'
    - elsif @myplan.name.eql?("Pro")
      = "1"
      = radio_button_tag 'day_time', '1'
      = "2"
      = radio_button_tag 'day_time', '2'
      = "4"
      = radio_button_tag 'day_time', '4'
      = "6"
      = radio_button_tag 'day_time', '6'
    - elsif @myplan.name.eql?("Premium")
      = "1"
      = radio_button_tag 'day_time', '1'
      = "2"
      = radio_button_tag 'day_time', '2'
      = "4"
      = radio_button_tag 'day_time', '4'
      = "6"
      = radio_button_tag 'day_time', '6'

  %div{:id => "2", :style => "display:none;"}
    =hidden_field :timeframe, :user_id, :value => twitter_user.user.id
    =hidden_field :timeframe, :twitter_user_id, :value => twitter_user.id
    =select_tag "timeframe_id", options_for_select(@options)
    %br
    = "start at"
    =select_tag "start_at[hour]", options_for_select(choose_hours_custom)
    =select_tag "start_at[minute]", options_for_select(choose_minutes_custom)
    =select_tag "start_at[meridian]", options_for_select(choose_meridians_custom)
    =hidden_field :timeframe, :timeframe_id, :value => "99"
    =hidden_field :timeframe, :twitter_user_id, :value => twitter_user.id
    //=hidden_field_tag :form_count, "1"
  %div{:id => "3", :style => "display:none;"}
    #custom_tf_wrapper
      #custom_tf_select
        =hour_select("tfname[hour][]")
        =minute_select("tfname[minute][]")
        =meridian("tfname[meridian][]")
        %span{:style => "color: #a50000; font-weight: bold; cursor: pointer;", :onclick => "$('#new_form_count').val(new_form_count-=1); $(this).parents('#custom_tf_select').remove();"} X
    =hidden_field :timeframe, :timeframe_id, :value => "99"
    =hidden_field :timeframe, :twitter_user_id, :value => twitter_user.id
    =hidden_field_tag :new_form_count, "1"
    %input{:type => "button", :value => "New interval", :onclick => "new_interval_custom();"}

  = submit_tag "Save Setting"

#loader
  =image_tag("ajaxLoader.gif")
  %br
  Update time interval
