#updateTweetContainer
  #loader
    =image_tag("ajaxLoader.gif")
    %br
    Posting your tweet
  #loader-update-buffer
    =image_tag("ajaxLoader.gif")
    %br
    Updating tweet to buffer
  = form_for @buffer, :remote => true, :url => update_buffer_path(@buffer.id) do |f|
    #addTweetTextAreaContainer
      = f.text_area :name, :id => "tweet_text", :placeholder => "add tweet here ...", :class => "transparentInput"
    %div{:style => "clear:both;"}
    #bufferAccionsButtonsContainer
      #bufferUpdateBufferButton
        = submit_tag "", :class => "rockwellRegular bufferUpdateBufferButton", :onclick => "$('#loader-update-buffer').show();"
      #bufferPostNowButton
        %input{:value => "", :type => "button",:class => "rockwellRegular bufferPostNowButton", :onclick => "$.get('#{tweet_to_twitter_path}',{tweet:$('#tweet_text').val(),twitter_name:'#{@twitter_user.login}'}); $('#loader').show();"}
      - if @twitter_user.account_type.eql?("twitter")
        #bufferQueueSettingsButton
          %input{:type => "button",:class => "queue_settings",:class => "rockwellRegular bufferQueueSettingsButton", :onclick => "window.location='#{twitter_settings_path(@twitter_user.login)}'"} 
      - else
        #bufferQueueSettingsButton
          %input{:type => "button",:class => "queue_settings",:class => "rockwellRegular bufferQueueSettingsButton", :onclick => "window.location='#{facebook_settings_path(@twitter_user.login)}'"} 
