#addTweetContainer
  #goProContainer
    = image_tag("goProImage.png")
    %a.rockwellRegular{:href => "#"} View advantage
    #goProCounter
      %span{:id => "counter"}
  = form_for @buffer_preference, :url => "/twitter/#{@twitter_user.login}/buffers", :remote => true do |f|
    #addTweetTextAreaContainer
      = f.text_area :name, :id => "tweet_text", :placeholder => "add tweet here ...", :class => "transparentInput"
    #bufferAccionsButtonsContainer
      = hidden_field :twitter_accounts, :name
      #bufferAddQueueButton
        = submit_tag "", :class => "rockwellRegular bufferAddQueueButton", :onclick => "jQuery('html, body').animate({scrollTop:0}, 'slow'); $('#loader-buffer').show(); refreshSelectedTwitterAccounts();"
      #bufferPostNowButton
        %input{:value => "", :type => "button",:class => "rockwellRegular bufferPostNowButton", :onclick => "$.get('#{tweet_to_twitter_path}',{tweet:$('#tweet_text').val(),twitter_name:'#{@twitter_user.login}'}); $('#loader').show();"}
      #bufferQueueSettingsButton
        %input{:type => "button",:class => "rockwellRegular bufferQueueSettingsButton", :onclick => "window.location='#{twitter_settings_path(@twitter_user.login)}'"}   
      #bufferViewSuggestionsButton
        %input{:type => "button",:class => "sugestions",:class => "rockwellRegular bufferQueueSuggestionsButton", :onclick => "showDialog('Post Suggestions', '/suggestions?twitter_name=#{@twitter_user.login}'); return false;"}   