#buffer_wrapper
  - old_buffer = nil
  - @result_buffers.each do |buffer|
    - if old_buffer != buffer.added_time
      %div{:style => "background: #79C1F3; margin: 5px 0 5px 0;"}
        %span{:style => "float: left; margin-top: -10px;"}
          %img{:src => "/images/birds_64/5.png", :width => 34, :height => 34}
        = time_in_word(buffer.added_time, buffer.run_at)
    #buffer_name_container{:class =>cycle("even","odd"), :onmouseover => "$('#actions_#{buffer.id}').css('visibility','visible');", :onmouseout => "$('#actions_#{buffer.id}').css('visibility','hidden')"}
      = buffer.name
      %br
      %span{:style => "color: #7BC2EE; font-style: italic; font-size: 13px;"}
        = "Queued for #{buffer.run_at.strftime('%H:%M %p')}" unless buffer.run_at.nil?
      %span{:id => "actions_#{buffer.id}", :style => "float: right; visibility: hidden; margin-top: -15px;"}
        #tweet_now{:onclick => ""}
          %img{:src => "/images/twitter.png"}
        #edit_buffer{:onclick => ""}
          %img{:src => "/images/edit.png"}
        #delete_buffer{:onclick => "delete_buff(#{buffer.id})"}
          = image_tag("/images/close-icon.png")
    - old_buffer = buffer.added_time