- ordered_buffers = @ordered_buffers
- active_time = @active_time
- ordered_buffers.each_with_index do |buffer, i|
  - if active_time != buffer.run_at.to_date or i == 0
    #bufferTweetsHeader
      = image_tag("tweetBufferBirdImage.png", :class => "tweetBufferBirdImage")
      %span.rockwellRegular.bufferTweetsListDate
        = show_buffer_date_title(buffer)
      - active_time = buffer.run_at.to_date
      %a{:href => "#"}
        %img.bufferTweetsListArrow{:src => "/assets/bufferDownArrow.png"}/
  #bufferTweetsListContainer
    #bufferTweetsRow
      %p.bufferTweetText.rockwellRegular
        %span.bufferTweetUser> @#{@twitter_user.login} &nbsp;
        = buffer.name
      %p.bufferTweetDate.rockwellRegular
        = "Queued for #{buffer.run_at.strftime('%I:%M %p')}" unless buffer.run_at.nil?
      .bufferTweetActionsButtonsContainer
        .bufferTweetEditActionButton
          = link_to "Tweet", tweet_from_buffer_path(buffer.id), :params => "twitter_name", :class => "bufferTweetActionButtonLink myriadProNormal"
        .bufferTweetArchiveActionButton
          = link_to "Edit", edit_buffer_path(buffer.id), :params => "twitter_name", :class => "bufferTweetActionButtonLink myriadProNormal"
        .bufferTweetArchiveActionButton
          = link_to "Delete", delete_buffer_path(buffer.id), :params => "twitter_name", :class => "bufferTweetActionButtonLink myriadProNormal"
