-content_for :tweet_css do
  =stylesheet_link_tag "tweet.css"

:javascript
  function showmsg(){
    alert('hapus');
  }
  function delete_buff(id){
    $.get('/twitter_users/delete_buffer/' + id);
  }


#post_notice
#general_dialog
-unless @is_updated_interval.nil?
  #interval_not_updated.error
    = "#{@is_updated_interval}. #{link_to("Setup here", twitter_settings_path(:twitter_name => @twitter_user.login)) unless @twitter_user.nil?}".html_safe

-if @twitter_user.nil?
  You need to authorize us to use your Twitter account.
  %a{:href => twitter_authorize_account_path}
    authorize now
-else
  .wrapper{:id => "tweet_stuff"}
    #go_pro
      %div{:style => "display: inline-block;"}
      =image_tag("bluebox.jpg", :style => "width: 32px; height: 32px;")
      %div{:style => "display: inline-block; text-align: left;"}
        %span{:style => "color: #F6C312; font-size: 15px; font-weight: bold;"}
          Go
        %span{:style => "color: #3D6CB4; font-size: 15px; font-weight: bold;"}
          Pro!
        %br
        %i
          =link_to "View advantage", plans_path, :class => "adv_link"

    .tweet_stuff
      .user_twitter_detail
        #profile_image
          //%img{:src => @twitter_user.profile_image_url.gsub("_normal",""), :width => 64, :height => 64}
          = profile_image(@twitter_user, "_normal", 64, 64)
        .badge
          - if @twitter_user.account_type.eql?("facebook")
            = image_tag("badge-facebook.png")
          - elsif @twitter_user.account_type.eql?("twitter")
            = image_tag("badge-twitter.png")
        #buffer_count_blue
        - if user_signed_in?
          - if @plans.plan.name.eql?("Free")
            %span{:id => "buffer_count_text_blue_set"} #{@count_buffer}
          - elsif @plans.plan.name.eql?("Pro")
            %span{:id => "buffer_count_text_blue_set"} #{@count_buffer}
          - elsif @plans.plan.name.eql?("Premium")
            %span{:style => "color: rgb(49, 133, 195); font-weight: bold; position: absolute; font-size: 32px; margin-top: 6px; margin-left: -57px;"} Unlimited tweets per day
        #user_login
          =@twitter_user.login

      - @twitter_account_list.each do |account|
        - unless account.login.eql?(params[:twitter_name])
          .user_detail{:style => "display: inline-block; border: 2px solid rgb(39, 110, 162); height: 50px; min-width: 180px; border-radius: 10px 10px 10px 10px; margin-bottom: 5px;"}
            .avatar_image{:style=> "border-radius: 3px 3px 3px 3px; float: left; height: 32px; margin-right: 10px; width: 32px; margin-top: 9px;"}
              = profile_image(account, "_normal", 35, 31)
            .badge
              - if account.account_type.eql?("facebook")
                = image_tag("badge-facebook.png")
              - elsif account.account_type.eql?("twitter")
                = image_tag("badge-twitter.png")
            %h2{:style => "margin-right: 35px; margin-top: 14px; font-weight: bold;"}
              //= account.login
              = link_to account.login, twitter_user_path(account.login)
            %span{:class => "count", :style => "display: none; color: rgb(22, 147, 165); position: absolute; margin-left: 34px; background: none repeat scroll 0pt 0pt rgb(222, 222, 222); font-weight: bold; font-size: 15px; margin-top: -21px;"}
              - if user_signed_in?
                = "#{@count_each_buffer_account}"
        - else
          .user_detail{:style => "border: 2px solid rgb(39, 110, 162); height: 50px; display: none; min-width: 180px; background-color: rgb(214, 237, 240);"}
            .avatar_image{:style=> "border-radius: 3px 3px 3px 3px; float: left; height: 32px; margin-right: 10px; width: 32px; margin-top: 9px;"}
              = profile_image(@twitter_user, "_normal", 35, 31)
            .badge
              - if account.account_type.eql?("facebook")
                = image_tag("badge-facebook.png")
              - elsif account.account_type.eql?("twitter")
                = image_tag("badge-twitter.png")
            %h2{:style => "margin-right: 35px; margin-top: 14px; font-weight: bold;"}
              = @twitter_user.login
              //= link_to account.login, twitter_user_path(account.login)
            %span{:class => "count", :style => "display: none; color: rgb(22, 147, 165); position: absolute; margin-left: 34px; background: none repeat scroll 0pt 0pt rgb(222, 222, 222); font-weight: bold; font-size: 15px; margin-top: -21px;"}
              - if user_signed_in?
                - if @plans.plan.name.eql?("Free")
                  = "#{@count_buffer}"
                - elsif @plans.plan.name.eql?("Pro")
                  = "#{@count_buffer}"
                - elsif @plans.plan.name.eql?("Premium")
                  = "~"
      .user_detail{:style => "border: 2px solid rgb(39, 110, 162); height: 50px; display: inline-block; min-width: 180px; background-color: rgb(214, 237, 240); border-radius: 10px 10px 10px 10px;"}
        .avatar_image{:style=> "border-radius: 3px 3px 3px 3px; float: left; height: 32px; margin-right: 10px; width: 32px; margin-top: 9px;"}
          = image_tag("add.png", width: 25, height: 25)
        %h2{:style => "margin-right: 35px; margin-top: 14px; font-weight: bold;"}
          //= link_to "Add Account", twitter_authorize_account_path
          = link_to "Add Account", add_an_account_path
        

        #user_login{:style=> "display: none;"}
          = @twitter_user.login
      #mini_panel
        %ul{:style => "list-style: none;"}
          %li{:style => "font-size: 14px; font-weight: bold;"}
            %a{:href => twitter_authorize_account_path, :style => "color: #3468BB; display: none;"}
              %img{:src => "/images/add_blue.png", :width => 24, :height => 24} Add Account
          %li{:style => "font-size: 14px; font-weight: bold; "}
            %a{:href => "#", :style => "display:none; color:#3468BB", :onclick => "showDialog('Switch account','#{twitter_account_list_path}'); return false;"}
              %img{:src => "/images/refresh_24.png", :width => 24, :height => 24} Switch Account
    .tweet_form_buffer
      #loader
        =image_tag("ajaxLoader.gif")
        %br
        Posting your tweet
      #loader-buffer
        =image_tag("ajaxLoader.gif")
        %br
        Add tweet to buffer
      #loader-edit-buffer
        =image_tag("ajaxLoader.gif")
        %br
        Edit buffer
      =form_for @buffer_preference, :url => "/twitter/#{@twitter_user.login}/buffers", :remote => true do |f|
        =f.text_area :name, :style => "width: 725px; height: 70px; background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(white)) no-repeat;background: -moz-linear-gradient(center top , #FAFAFA, #FFFFFF) repeat scroll 0 0 transparent; border-bottom: 11px solid rgb(36, 157, 236); -moz-border-radius: 11px 11px 11px 11px; -webkit-border-radius: 11px 11px 11px 11px;", :id => "tweet_text", :placeholder => "add tweet here ..."
        %span{:id => "counter", :style => "position: absolute; color: rgb(36, 157, 236); font-weight: bold; font-size: 17px; margin-left: 318px; margin-top: -119px; border-radius: 10px 10px 10px 10px; background-color: rgb(214, 237, 240); border: 2px solid rgb(36, 157, 236);"}
        #button_container
          =submit_tag "", :class => "add_to_queue", :onclick => "$('#loader-buffer').show();"
          %input{:type => "button",:class => "post_now", :onclick => "$.get('#{tweet_to_twitter_path}',{tweet:$('#tweet_text').val(),twitter_name:'#{@twitter_user.login}'}); $('#loader').show();"}
          %input{:type => "button",:class => "queue_settings", :onclick => "window.location='#{twitter_settings_path(:twitter_name => @twitter_user.login)}'"}
          %div{:id => "box-tweet-suggest", :onclick => "showDialog('Post Suggestions', '/suggestions?twitter_name=#{@twitter_user.login}'); return false;"} View Suggestions
    #separator
      // buffer list and ads
    #buffer_list
      %span{:style => "font-size: 15px; font-weight: bold; display: block; text-align: center;"}
        = link_to "Queue", "", :class => "qpa all", :id => "queue", :remote => true, :onclick => "$('#loader-tab').show();$('#buffer_wrapper').hide();"
        = link_to "Performance", twitter_user_performance_path, :class => "qpa", :id => "performance", :remote => true, :onclick => "$('#loader-tab').show();$('#buffer_wrapper').hide();"
        = link_to "Analytics", twitter_user_analytic_path, :class => "qpa", :id => "analytic", :remote => true, :onclick => "$('#loader-tab').show();$('#buffer_wrapper').hide();"
      #loader-tab{:style => "position: absolute; padding: 0px 42px; margin-left: 305px; margin-top: 60px;display:none;"}
        = image_tag("a-loader.gif")
      %br
      #buffer_wrapper
        - old_buffer = nil
        - today = Date.today
        //- @order_buffers = @buffers.order("run_at ASC")
        //- @order_buffers = BufferPreference.where("status = ?", "uninitialized").order("run_at ASC")
        - @order_buffers = BufferPreference.where("status = ? AND twitter_user_id =?", "uninitialized", @twitter_user.id).order("run_at ASC")
        - active_time = @order_buffers.first.run_at.to_date rescue today
        - @order_buffers.each_with_index do |buffer, i|
          - if active_time != buffer.run_at.to_date or i == 0
            %div{:style => "background: #79C1F3; margin: 5px 0 5px 0; "}
              %span{:style => "color: #fff; font-weight: bold;"}
                = show_buffer_date_title(buffer)    
                - active_time = buffer.run_at.to_date
              //= "Today (#{Time.now.strftime('%b %d')})"
          #buffer_name_container{:id => buffer.id, :style => "text-align: left;", :class =>cycle("even","odd"), :onmouseover => "$('#actions_#{buffer.id}').css('visibility','visible');", :onmouseout => "$('#actions_#{buffer.id}').css('visibility','hidden')"}
            = buffer.name
            %br
            %span{:style => "color: #7BC2EE; font-style: italic; font-size: 13px;"}
              - a = (buffer.run_at.strftime('%H')).to_i
              - hour = ((buffer.run_at.strftime('%H')).to_i - 12).to_s
              - minute = (buffer.run_at.strftime('%M'))
              = "Queued for #{buffer.run_at.strftime('%I:%M %p')}" unless buffer.run_at.nil?
            %span{:id => "actions_#{buffer.id}", :style => "float: right; visibility: hidden; margin-top: -15px;"}
              //#tweet_now{:onclick => "$.get('#{tweet_to_twitter_path}',{tweet:$('buffer.name').val(),twitter_name:'#{@twitter_user.login}'}); $('#loader').show();"}
              #tweet_now{:onclick => ""}
                = link_to image_tag("/images/twitter.png"), tweet_from_buffer_path(buffer.id), :params => "twitter_name"
              //#edit_buffer{:onclick => "showDialog('Edit Buffer','#{edit_buffer_path(buffer.id)}'); return false;"}
              #edit_buffer{:onclick => "$('#loader-edit-buffer').show();"}
                = link_to image_tag("/images/edit.png"), edit_buffer_path(buffer.id), :remote => true
              #delete_buffer{:onclick => ""}
                = link_to image_tag("/images/close-icon.png"), delete_buffer_path(buffer.id)
    #ads
      = image_tag("/images/advertise.jpg")

:javascript
  $('#tweet_text').simplyCountable({
    counter: '#counter',
    maxCount: 140,
  });