.span-24.last
  %h2= t("twitter_users.index.header")
  %p!= t("twitter_users.index.description", :user => current_user.email)
  .tabs-container
    %ul.tabs
      - @twitter_users.each do |twitter_user|
        %li
          %a{:href => "##{twitter_user.login}"}
            @#{twitter_user.login}
      %li
        %a{:href => "#new_account"}
          =t("twitter_users.index.tabs.new_account")
    - @twitter_users.each do |twitter_user|
      .clearfix{:id => twitter_user.login}
        .span-4.twitter-photo
          %img{:src => twitter_user.profile_image_url.gsub("_normal",""), :width => 100, :height => 100}
        .span-18.buffer-list.last
          %h3=t("twitter_users.index.buffers.header", :name => twitter_user.login)
          %hr
          %ul.buffer-list
            - twitter_user.buffer_preferences.each do |buffer|
              %li
                %a{:href => twitter_user_buffer_preferences_path(twitter_user) + "#buffer=#{buffer.name}"}
                  = buffer.name
                %span.buffer-links
                  %a{:href => edit_twitter_user_buffer_preference_path(twitter_user, buffer)}
                    =t("twitter_users.links.buffers.edit")
          .new_buffer
            %a{:href => new_twitter_user_buffer_preference_path(twitter_user)}
              =t("twitter_users.links.buffers.new")
    #new_account.clearfix
      .span-4.twitter-photo
        cool image here
      .span-18.buffer-list.last
        - if @twitter_users.count == 0
          =t("twitter_users.index.no_accounts")
        - else
          =t("twitter_users.index.any_accounts")
        %a{:href => twitter_authorize_account_path}
          =t("twitter_users.index.authorize")