:javascript
  function showmsg(){
    alert('delete');
  }
  function delete_buff(id){
    $.get('/twitter_users/delete_buffer/' + id);
  }

#middle.bufferMiddle
  #bufferContainer
    #bufferTitleContainer
      %p#bufferTitle.rockwellRegular tweetbuff.com
      %p#bufferSubTitle.rockwellRegular Welcome back #{@twitter_user.login}
    .separator
    #leftPanel
      #leftPanelPhoto
        = profile_image(@twitter_user, "_normal", 211, 198)
      #inBuffer
        = image_tag("blueBird.png", :class => "litleBirdImage")
        %span.rockwellRegular In Tweet
        - if user_signed_in?
          - if @plans.plan.name.eql?("Free") || @plans.plan.name.eql?("Pro")
            %span.leftPanelNumBuffer (#{@count_buffer})
          - elsif @plans.plan.name.eql?("Premium")
            %span.leftPanelNumBuffer (Unlimited)
      #bufferLeftPanelButtonsContainer
        #bufferAddAccountButton
          %a.rockwellRegular.bufferLeftPanelButtonLink{:href => "#"} Add Account
          = link_to "Add Account", add_an_account_path,  :class => "rockwellRegular bufferLeftPanelButtonLink"
        #bufferSwichAccountButton
          %a.rockwellRegular.bufferLeftPanelButtonLink{:href => "#"} Switch Account
    #bufferMainContainer
      #addTweetContainer
        #goProContainer
          = image_tag("goProImage.png")
          %a.rockwellRegular{:href => "#"} View advantage
          #goProCounter
            %span{:id => "counter"}
        = form_for @buffer_preference, :url => "/twitter/#{@twitter_user.login}/buffers", :remote => true do |f|
          #addTweetTextAreaContainer
            = f.text_area :name, :id => "tweet_text", :placeholder => "add tweet here ...", :class => "transparentInput"
          #bufferAccionsButtonsContainer
            #bufferAddQueueButton
              = submit_tag "", :class => "rockwellRegular bufferAddQueueButton", :onclick => "jQuery('html, body').animate({scrollTop:0}, 'slow'); $('#loader-buffer').show();"
            #bufferPostNowButton
              %input{:value => "", :type => "button",:class => "rockwellRegular bufferPostNowButton", :onclick => "$.get('#{tweet_to_twitter_path}',{tweet:$('#tweet_text').val(),twitter_name:'#{@twitter_user.login}'}); $('#loader').show();"}
            #bufferQueueSettingsButton
              %input{:type => "button",:class => "queue_settings",:class => "rockwellRegular bufferQueueSettingsButton", :onclick => "window.location='#{twitter_settings_path(@twitter_user.login)}'"}   
            #bufferViewSuggestionsButton
              %a.rockwellRegular{:href => "#"} 
      #bufferTweetsContainer
        #bufferTweetsOptionsButtonsContainer
          .bufferOptionButtonSelected
            %a.myriadProNormal{:href => "#"} Queue
          .bufferOptionButton
            %a.myriadProNormal{:href => "#"} Performance
          .bufferOptionButton
            %a.myriadProNormal{:href => "#"} Analytics
      .tweeet_loader{:style => "position: relative; width: 725px; margin-left: 150px;"}
        #loader
          =image_tag("ajaxLoader.gif")
          %br
          Posting your tweet
        #loader-buffer
          =image_tag("ajaxLoader.gif")
          %br
          Adding tweet to buffer
        #loader-delete-buffer
          =image_tag("ajaxLoader.gif")
          %br
          Delete tweet from buffer
        #loader-edit-buffer
          =image_tag("ajaxLoader.gif")
          %br
          Edit buffer
      #buffer_wrapper
        = render :partial => "queueNew", :locals => {:ordered_buffers => @ordered_buffers, :ordered_buffers => @ordered_buffers}
        

:javascript
  $('#tweet_text').simplyCountable({
    counter: '#counter',
    maxCount: 140,
  });

  $("#menuArrow").removeClass();
  $("#menuArrow").addClass("menuArrowMyTweets");