-content_for :tweet_css do
  =stylesheet_link_tag "tweet.css"

#post_notice
#general_dialog
-unless @is_updated_interval.nil?
  #interval_not_updated.error
    = "#{@is_updated_interval}. #{link_to("Setup here", twitter_settings_path(:twitter_name => @twitter_user.login)) unless @twitter_user.nil?}".html_safe

-if @twitter_user.nil?
  You need to authorize us to use your Twitter account.
  %a{:href => twitter_authorize_account_path}
    authorize now
-else
  .wrapper
    #go_pro
      %div{:style => "display: inline-block;"}
      =image_tag("bluebox.jpg", :style => "width: 32px; height: 32px;")
      %div{:style => "display: inline-block; text-align: left;"}
        %span{:style => "color: #F6C312; font-size: 15px; font-weight: bold;"}
          Go
        %span{:style => "color: #3D6CB4; font-size: 15px; font-weight: bold;"}
          Pro!
        %br
        %i
          =link_to "View advantage", plans_path, :class => "adv_link"

    #tweet_stuff
      .user_twitter_detail
        #profile_image
          %img{:src => @twitter_user.profile_image_url.gsub("_normal",""), :width => 64, :height => 64}
        #buffer_count
          %img{:src => "/images/t_count.jpg"}
        #user_login
          =@twitter_user.login
        #mini_panel
          %ul{:style => "list-style: none;"}
            %li{:style => "font-size: 14px; font-weight: bold;"}
              %a{:href => twitter_authorize_account_path, :style => "color: #3468BB"}
                %img{:src => "/images/add_blue.png", :width => 24, :height => 24} Add Account
            %li{:style => "font-size: 14px; font-weight: bold;"}
              %a{:href => "#", :style => "color:#3468BB", :onclick => "showDialog('Switch account','#{twitter_account_list_path}'); return false;"}
                %img{:src => "/images/refresh_24.png", :width => 24, :height => 24} Switch Account
      .tweet_form_buffer
        #loader
          =image_tag("ajaxLoader.gif")
          %br
          Posting your tweet
        =form_for @buffer_preference, :url => "/twitter/#{@twitter_user.login}/buffers", :remote => true do |f|
          =f.text_area :name, :style => "width: 725px; height: 70px;", :id => "tweet_text"
          #button_container
            =submit_tag "", :class => "add_to_queue"
            %input{:type => "button",:class => "post_now", :onclick => "$.get('#{tweet_to_twitter_path}',{tweet:$('#tweet_text').val(),twitter_name:'#{@twitter_user.login}'}); $('#loader').show();"}
            %input{:type => "button",:class => "queue_settings", :onclick => "window.location='#{twitter_settings_path(:twitter_name => @twitter_user.login)}'"}
    #separator
      // buffer list and ads
    #ads
      = image_tag("/images/advertise.jpg")
    #buffer_list
      %span{:style => "font-size: 15px; font-weight: bold; display: block; text-align: center;"}
        Queue | Performance | Analitics
      %br
      #buffer_wrapper
        - old_buffer = nil
        -@buffers.each do |buffer|
          - if old_buffer != buffer.added_time
            %div{:style => "background: #79C1F3; margin: 5px 0 5px 0;"}
              %span{:style => "float: left; margin-top: -10px;"}
                %img{:src => "/images/birds_64/5.png", :width => 34, :height => 34}
              = time_in_word(buffer.added_time, buffer.run_at)
          #buffer_name_container{:class =>cycle("even","odd"), :onmouseover => "$('#actions_#{buffer.id}').css('visibility','visible');", :onmouseout => "$('#actions_#{buffer.id}').css('visibility','hidden')"}
            = buffer.name
            %br
            %span{:style => "color: #7BC2EE; font-style: italic; font-size: 13px;"}
              = "Queued for #{buffer.run_at.strftime('%H:%M %p')}" unless buffer.run_at.nil?
            %span{:id => "actions_#{buffer.id}", :style => "float: right; visibility: hidden; margin-top: -15px;"}
              #tweet_now{:onclick => ""}
                %img{:src => "/images/twitter.png"}
              #edit_buffer{:onclick => ""}
                %img{:src => "/images/edit.png"}
              #delete_buffer{:onclick => ""}
                %img{:src => "/images/close-icon.png"}
          - old_buffer = buffer.added_time
      
      