#general_dialog
-content_for :tweet_css do
  =stylesheet_link_tag "tweet.css"

-if @is_updated_interval
  #interval_not_updated.error
    = @is_updated_interval
    %span{:style => "float: right;"}
      %a{:href => "#", :onclick => "$('#interval_not_updated').fadeOut('slow')"}
        %img{:src => "/images/close.png"}

#post_notice
#loader-category{:style => "display:none;"}
  =image_tag("ajaxLoader.gif")
  %br
  .text-loader
    Add suggestion to list suggestion

.wrapper
  #settings_user_detail
    #profile_image
      = profile_image(@twitter_user, "_normal", 64, 64)
    #buffer_count_blue
      - if user_signed_in?
        - unless @plans.nil?
          - if @plans.plan.name.eql?("Free")
            %span{:id => "buffer_count_text_blue"} #{@count_buffer}
          - elsif @plans.plan.name.eql?("Pro")
            %span{:id => "buffer_count_text_blue"} #{@count_buffer}
          - elsif @plans.plan.name.eql?("Premium")
            %span{:id => "buffer_count_text_blue"} #{@count_buffer}
        - else
          %span{:id => "buffer_count_text"} 0
      %br
      %div{:style=>"margin-top:2px;"} In Buffer

    #buffer_count_green
      %span{:id => "buffer_count_text_green"} #{@sent_buffers_count}
      %br
      %div{:style=>"width: 100px; margin-top: 2px;"} Sent from buffer
  #bitly_detail
    %span{:style => "font-size:12px; font-weight:bold; color:#7AC2F4;"}
      Add your bit.ly details

    .form_bitly{:style => "display:none;"}
      = render :partial => "form_bitly"

    #display.display_bitly{:style => "display:none;"}

    - if @bitly.nil?
      .form_bitly
        = render :partial => "form_bitly"
    - else
      .display_bitly
        = render :partial => "display_bitly"
        
  #separator{:style => "margin-bottom: 30px !important;"}

  .timeframe
    #timeframe_box
      %div{:id => "choose_tweet"}
        = "Choose when #{@twitter_user.login} Tweets :"
      %br
      #notice_selected_day{:style => "background: none repeat scroll 0 0 #AAAAAA; padding: 5px; color: purple;"}
        = "Selected"
      #notice_not_selected_day{:style => "background: none repeat scroll 0 0 #FFFFFF;border: 1px solid black; padding: 5px; color: purple;"}
        = "Not Selected"
      %br
      #default_timeframe_form_container
        =render :partial => "default_interval", :locals => {:twitter_user => @twitter_user}
      #custom_timeframe_form_container{:style => "display: none;"}
        =render :partial => "other_time_interval", :locals => {:twitter_user => @twitter_user}
        %br
        %input{:value => "Default",:type => "button", :onclick => "$('#custom_timeframe_form_container').hide(); $('#default_timeframe_form_container').show();"}
      %br
      - ti = @twitter_user.time_setting
      - unless ti.nil?
        - tf = ti.timeframe
        - if ti.time_setting_type.eql?(1)
          currently your tweet will post automaticly post #{ti.post_per_day} post per day and #{ti.time_period.split(",")[1]}
        - elsif ti.time_setting_type.eql?(2)
          currently your tweet will post automaticly post every #{ti.timeframe.value} #{ti.timeframe.unit} per day in #{ti.time_period.split(",")[0]}, #{ti.time_period.split(",")[1]}, #{ti.time_period.split(",")[2]}, #{ti.time_period.split(",")[3]}, #{ti.time_period.split(",")[4]}, #{ti.time_period.split(",")[5]}, #{ti.time_period.split(",")[6]}
        - elsif ti.time_setting_type.eql?(3)
          currently your tweet will post automaticly in #{ti.time_period.split(",")[0]}, #{ti.time_period.split(",")[1]}, #{ti.time_period.split(",")[2]}, #{ti.time_period.split(",")[3]}, #{ti.time_period.split(",")[4]}, #{ti.time_period.split(",")[5]}, #{ti.time_period.split(",")[6]}
    #manage_team_box
      %span{:style => "font-size: 13px; font-weight: bold; color: #7AC2F4;"}
        Manage team members
      %br
      %span{:style => "font-size: 11px; color: #a9a9a9;"}
        settings | invite a team member
      %div{:style => "font-weight: bold; color: #a9a9a9;"}
        %img{:src => "/images/birds_64/5.png", :height => "24", :width => "24"}
        someone@host.com

      = form_tag "/invite_team_member" do
        = text_field :member, :email, :required => true, :style => "width: 160px;"
        = submit_tag "invite"
    #manage_suggestions
      %span{:style => "font-size: 13px; font-weight: bold; color: #7AC2F4;"}
        Manage Suggestions
        %br
      %div{:style => "margin-right: 72px; margin-top: 10px;"}
        %div{:id => "box-tweet-suggest", :onclick => "showDialog('Create Suggestions', '/setting_suggestion?twitter_name=#{@twitter_user.login}'); return false;"} Setting Suggestions
