-content_for :tweet_css do
  =stylesheet_link_tag "tweet.css"

-if @is_updated_interval
  #interval_not_updated.error
    = @is_updated_interval
    %span{:style => "float: right;"}
      %a{:href => "#", :onclick => "$('#interval_not_updated').fadeOut('slow')"}
        %img{:src => "/images/close.png"}
.wrapper
  #settings_user_detail
    #profile_image      
      = profile_image(@twitter_user, "_normal", 64, 64)
    #buffer_count_blue      
      - if user_signed_in?
        - unless @plans.nil?
          - if @plans.plan.name.eql?("Free")
            %span{:id => "buffer_count_text_blue"} #{@count_buffer}
          - elsif @plans.plan.name.eql?("Pro")
            %span{:id => "buffer_count_text_blue"} #{@count_buffer}
          - elsif @plans.plan.name.eql?("Premium")
            %span{:id => "buffer_count_text_blue"} #{@count_buffer}
        - else
          %span{:id => "buffer_count_text"} 0
      %br
      %div{:style=>"margin-top:2px;"} In Buffer

    #buffer_count_green
      %span{:id => "buffer_count_text_green"} #{@sent_buffers}
      %br
      %div{:style=>"width: 100px; margin-top: 2px;"} Sent from buffer
  #bitly_detail
    %span{:style => "font-size:12px; font-weight:bold; color:#7AC2F4;"}
      Add your bit.ly details
    =form_tag save_detail_bitly_apis_path, :style => "margin-top: 19px;" do
      %div{:style => "display: inline-block;"}
        Username
        %br
        =text_field :bitly_api, :bitly_name, :value => @bitly.nil?? "" : @bitly.bitly_name
      %div{:style => "display: inline-block;"}
        API Key
        %br
        =text_field :bitly_api, :api_key, :value => @bitly.nil?? "" : @bitly.api_key
        =hidden_field :bitly_api, :user_id, :value => current_user.id
      %div{:style => "display: inline-block;"}
        =submit_tag "save"
  #separator{:style => "margin-bottom: 30px !important;"}

  .timeframe
    #timeframe_box
      %div{:id => "choose_tweet"}
        = "Choose when #{@twitter_user.login} Tweets :"
      %br
      #default_timeframe_form_container
        =render :partial => "default_interval", :locals => {:twitter_user => @twitter_user}
      #custom_timeframe_form_container{:style => "display: none;"}
        =render :partial => "other_time_interval", :locals => {:twitter_user => @twitter_user}
        %br
        %input{:value => "Default",:type => "button", :onclick => "$('#custom_timeframe_form_container').hide(); $('#default_timeframe_form_container').show();"}
      %br
      - ti = @twitter_user.time_setting
      - unless ti.nil?
        - tf = ti.timeframe
        - if ti.time_setting_type.eql?(1)
          currently your tweet will post automaticly post #{ti.post_per_day} post per day and #{ti.time_period.split(",")[1]}
        - elsif ti.time_setting_type.eql?(2)
          currently your tweet will post automaticly post every #{ti.timeframe.value} #{ti.timeframe.unit} per day in #{ti.time_period.split(",")[0]}, #{ti.time_period.split(",")[1]}, #{ti.time_period.split(",")[2]}, #{ti.time_period.split(",")[3]}, #{ti.time_period.split(",")[4]}, #{ti.time_period.split(",")[5]}, #{ti.time_period.split(",")[6]}
        - elsif ti.time_setting_type.eql?(3)
          currently your tweet will post automaticly in #{ti.time_period.split(",")[0]}, #{ti.time_period.split(",")[1]}, #{ti.time_period.split(",")[2]}, #{ti.time_period.split(",")[3]}, #{ti.time_period.split(",")[4]}, #{ti.time_period.split(",")[5]}, #{ti.time_period.split(",")[6]}
    #manage_team_box
      %span{:style => "font-size: 13px; font-weight: bold; color: #7AC2F4;"}
        Manage team members
      %br
      %span{:style => "font-size: 11px; color: #a9a9a9;"}
        settings | invite a team member
      %div{:style => "font-weight: bold; color: #a9a9a9;"}
        %img{:src => "/images/birds_64/5.png", :height => "24", :width => "24"}
        someone@host.com
      =form_tag "/invite_team_member" do
        =text_field :member, :email, :style => "width: 160px;"
        =submit_tag "invite"
