-content_for :tweet_css do
  =stylesheet_link_tag "tweet.css"

-if @is_updated_interval
  #interval_not_updated.error
    = @is_updated_interval
    %span{:style => "float: right;"}
      %a{:href => "#", :onclick => "$('#interval_not_updated').fadeOut('slow')"}
        %img{:src => "/images/close.png"}

.wrapper
  #settings_user_detail
    #profile_image      
      = profile_image(@twitter_user, "_normal", 64, 64)
    #buffer_count
      %img{:src => "/images/buffer_count.jpg"}
      %br
      In Buffer
    #buffer_count
      %img{:src => "/images/sent_from_buffer.jpg"}
      %br
      Sent from buffer
  #bitly_detail
    %span{:style => "font-size:12px; font-weight:bold; color:#7AC2F4;"}
      Add your bit.ly details
    =form_tag save_detail_bitly_apis_path, :style => "margin-top: 19px;" do
      %div{:style => "display: inline-block;"}
        Username
        %br
        =text_field :bitly_api, :bitly_name, :value => @bitly.nil?? "" : @bitly.bitly_name
      %div{:style => "display: inline-block;"}
        API Key
        %br
        =text_field :bitly_api, :api_key, :value => @bitly.nil?? "" : @bitly.api_key
        =hidden_field :bitly_api, :user_id, :value => current_user.id
      %div{:style => "display: inline-block;"}
        =submit_tag "save"
  #separator{:style => "margin-bottom: 30px !important;"}

  .timeframe
    #timeframe_box
      %span{:style => "font-size: 13px; font-weight: bold; color: #7AC2F4;"}
        = "Choose when #{@twitter_user.login} Tweets :"
      %br
      #default_timeframe_form_container
        =render :partial => "default_interval", :locals => {:twitter_user => @twitter_user}
      #custom_timeframe_form_container
        =render :partial => "other_time_interval", :locals => {:twitter_user => @twitter_user}
        %br
        %input{:value => "Default",:type => "button", :onclick => "$('#custom_timeframe_form_container').hide(); $('#default_timeframe_form_container').show();"}
      %br
      - ti = @twitter_user.tweet_interval
      - unless ti.nil?
        - tf = ti.timeframe
        - if tf
          currently your tweet will post automaticly every #{tf.value} #{tf.unit}
        - else
          - tf = @twitter_user.tweet_interval.other_interval
          - tf = tf.split("|")
          = other_tf_interval(tf)
    #manage_team_box
      %span{:style => "font-size: 13px; font-weight: bold; color: #7AC2F4;"}
        Manage team members
      %br
      %span{:style => "font-size: 11px; color: #a9a9a9;"}
        settings | invite a team member
      %div{:style => "font-weight: bold; color: #a9a9a9;"}
        %img{:src => "/images/birds_64/5.png", :height => "24", :width => "24"}
        someone@host.com
      =form_tag "/" do
        =text_field :member, :email, :style => "width: 160px;"
        =submit_tag "invite"
      
    