:javascript
  function selectRoleType(role){
    jQuery(".current_role").hide();
    jQuery(".current_role").removeClass("current_role");
    jQuery("#default").show();
    jQuery("#default").addClass("current_role");
    //jQuery("#days").hide();
  }
  var form_count = 1
  function new_interval(){
    $('#form_count').val(form_count+=1);
    $('#custom_tf_select').clone().appendTo('#custom_tf_wrapper')
  }

  function update_time_tweet(id, per_day){        
    var time_tweet = $('#days').val();
    jQuery("#loader").show();
    $.get('/update_setting_time?tweet_id=' + id + '&per_day=' + per_day + '&time_tweet=' + time_tweet);
  }

= select_tag "days", options_for_select(Day.collect_days), :onchange => "selectRoleType(this.value);"
#loader
  =image_tag("ajaxLoader.gif")
  %br
  Update time interval
#default{:style => "display:none; position: relative; width: 360px;"}
  .default_tweetsmart{:style => "float: left; border: 2px solid rgb(49, 133, 195); border-radius: 4px 4px 4px 4px; padding: 2px;"}
    Tweet Smart
    =form_tag save_settings_path do
      =hidden_field :timeframe, :user_id, :value => twitter_user.user.id
      =hidden_field :timeframe, :twitter_user_id, :value => twitter_user.id
      //=select_tag "timeframe[timeframe_id]", options_for_select(@tweet_smart)
      - if @myplan.name.eql?("Free")        
        = "1"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"1", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "2"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"2", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "4"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"4", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "6"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"6", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
      - elsif @myplan.name.eql?("Pro")
        = "1"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"1", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "2"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"2", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "4"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"4", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "6"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"6", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
      - elsif @myplan.name.eql?("Premium")
        = "1"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"1", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "2"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"2", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "4"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"4", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
        = "6"
        %input{:type=>"radio", :id=>"update_time", :name=>"day_time", :value=>"6", :onclick=>"update_time_tweet('#{twitter_user.id}', this.value);"} 
      

  .default_interval{:style => "float: left; border: 2px solid rgb(49, 133, 195); border-radius: 4px 4px 4px 4px; padding: 2px;"}
    Choose your tweeting time
    =form_tag save_settings_path do
      =hidden_field :timeframe, :user_id, :value => twitter_user.user.id
      =hidden_field :timeframe, :twitter_user_id, :value => twitter_user.id
      //=select_tag "timeframe[timeframe_id]", options_for_select(@options), :onchange => "if(this.value=='99'){$('#default_timeframe_form_container').hide(); $('#custom_timeframe_form_container').show();}"
      =select_tag "timeframe[timeframe_id]", options_for_select(@options)
      =submit_tag "Update"

  .other_interval{:style => "float: left; border: 2px solid rgb(49, 133, 195); border-radius: 4px 4px 4px 4px; padding: 2px;"}
    Customize your tweeting time
    = form_tag save_settings_path do
      #custom_tf_wrapper
        #custom_tf_select
          =hour_select("tfname[hour][]")
          =minute_select("tfname[minute][]")
          =meridian("tfname[meridian][]")
          %span{:style => "color: #a50000; font-weight: bold; cursor: pointer;", :onclick => "$('#form_count').val(form_count-=1); $(this).parents('#custom_tf_select').remove();"} X
      =hidden_field :timeframe, :timeframe_id, :value => "99"
      =hidden_field :timeframe, :twitter_user_id, :value => twitter_user.id
      =hidden_field_tag :form_count, "1"
      =submit_tag "update"

    %input{:type => "button", :value => "New interval", :onclick => "new_interval();"}
    %input{:value => "Default",:type => "button", :onclick => "$('#custom_timeframe_form_container').hide(); $('#default_timeframe_form_container').show();"}