<div id="box-sign-in">
  <h2 style="position: absolute; font-size: 36px; font-weight: bold; margin-left: 18px; color: rgb(122, 194, 244);">Sign-in</h2>
  <div id="image-sign-in">
    <%= image_tag("/images/birds_64/6.png") %>
  </div>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="inputs">
      <%= f.input :email, :required => true, :autofocus => true, :placeholder => "you@example.com" %>
      <%= f.input :password, :required => true, :size=>"25" %>
    </div>
    <div class="remember">
      <div class="input boolean optional" style="display: inline-block; position: relative; height: 25px; width: 267px;">
        <%= f.input :remember_me, :label => "Keep me signed in.", :as => :boolean if devise_mapping.rememberable? %>
      </div>
    </div>
    <div style="clear:both;">
      <div class="actions" style="margin-bottom: 10px;">
        <%= f.button :submit, "", :class => "button-sign-in" %>
      </div>
    <% end %>
    <%= link_to "Forgotten your password?", new_password_path(resource_name), :style => "color: #3185C3;"%><br />
  </div>