
<div id="middle" class="mainmiddle">
				 
	<div id="signInContainer">
		
		<div id="signInTitleContainer">
			<p id="signInTitle">Sign In your tweetbuff.com account</p>
			<p id="signInSubTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="separator"></div>
		<%= simple_form_for resource, :as => resource_name,:html => {:class => "signInForm"}, :url => session_path(resource_name) do |f| %>

			<table class="textFieldContainer">
				<tr>
					<td>
						<span class="textFieldSpan">Email</span>
					</td>
					<td>
						<div class="textField">
							<%= f.input :email, :required => true, :autofocus => true, :placeholder => "you@example.com", :input_html => { :class => 'transparentInput' }, :label => false %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<span class="textFieldSpan">Password</span>
					</td>
					<td>
						<div id="passwordTextField" class="textField">
							<%= f.input :password, :required => true, :size=>"25",:input_html => { :class => 'transparentInput' }, :label => false %>
						</div>
					</td>
				</tr>
			</table>
			
			<div id="signInButtonContainer">
				<%= f.button :submit, "", :class => "signInButton" %>
				<div id="rememberMe">
						<div id="checkRemember">
							<%= f.input :remember_me, :label => false,:as => :boolean if devise_mapping.rememberable?%>
						</div>
						<p class="myriadProNormal">Remember Me</p>
				</div>
			</div>
			
		<% end %>
		<div id="tweetBird" class="tweetBirdSignIn"></div>
	</div>
	
</div>

<script>
	$("#menuArrow").removeClass();
	$("#menuArrow").addClass("menuArrowSignIn");
</script>
