-content_for :plan_css do
  = stylesheet_link_tag 'plan.css'

%div{:style => "margin: 0pt auto; width: 830px;"}
  %div{:id => "box"}
    %div{:class => "button-header"}
      = link_to image_tag("/images/monthly.jpg"), ""
    %div{:class => "button-header"}
      = link_to image_tag("/images/years.jpg"), ""
  %div{:style => "clear: both; ", :id => "separator"}
    %img{:src => "/images/separator.jpg"}
  - @plans.each do |plan|
    .plan-container
      .top-part
        %span{:class => "plan-name"}= plan.name
        %br
        %span{:class => "plan-price"}= "#{number_to_currency(plan.price)}/mo"
        %br
        - case(plan.name)
          -when "Free"
            %span{:class=> "plan-desc"} Find out what it feels like to consitently tweet with buffer
          -when "Pro"
            %span{:class=> "plan-desc"} Tweet like a champ with custom metrics and larger buffer
          -when "Premium"
            %span{:class=> "plan-desc"} Enjoy the full power of professional GuyKawasaki-like tweeting
      .bottom-part
        %ul{:style => "list-style: none"}
          %li{:id => "list"}
            %span{:class => "description"} A continual stream of content for your followers
          %li{:id => "list"}
            - num_of_tweet = (plan.num_of_tweet_per_day.nonzero?)? plan.num_of_tweet_per_day : "Unlimited"
            - is_unlimited_tweet = num_of_tweet.eql?("Unlimited")? "∞" : num_of_tweet
            %span{:class => "description"}= "#{num_of_tweet} tweets per day"
          %li{:id => "list"}
            - num_of_buffer = (plan.num_of_tweet_in_buffer.nonzero?)? plan.num_of_tweet_in_buffer : "Unlimited"
            - is_unlimited_buffer = num_of_buffer.eql?("Unlimited")? "∞" : num_of_buffer
            %span{:class => "description"}= "#{num_of_buffer} tweets in your Buffer"
          %li{:id => "list"}
            %span{:class => "description"}= "#{plan.num_of_tweet_account} Twitter account"
          %li{:id => "list"}
            %span{:class => "description"} Free browser extensions
          %li{:id => "list"}
            %span{:class => "description"} Use your Bit.ly details
          %li{:id => "list"}
            %span{:class => "description"} Daily Tweeting patterns
          %li{:id => "list"}
            %span{:class => "description"} Direct line to founder
          %li{:id => "list", :style => "border-bottom: 0 !important;"}
      .signup
        - if user_signed_in?
          - if plan.id == @myplan
            %span{:style => "font-size: 18px;"} Your current plan
          - else
            = link_to image_tag("/images/sign_up_now.jpg"), get_plan_clicked_when_signup_plan_path(plan)
        - else
          - if plan.name.eql?("Free")
            = link_to image_tag("/images/sign_up_now.jpg"), get_plan_clicked_when_signup_plan_path(plan)
          -else
            = link_to image_tag("/images/sign_up_now.jpg"), get_plan_clicked_when_signup_plan_path(plan)
  = image_tag("/images/how-it-works.jpg", :style => "margin-left: -28px;")
  = image_tag("/images/video-buffer.jpg", :style => "margin-left: -35px;")
  = image_tag("/images/ready-to-buffer.jpg", :style => "margin-left: 100px;")
  = link_to image_tag("/images/sign_up_now.jpg", :style=> "margin-left: 9px; margin-bottom: 10px; margin-top: 20px;"), ""
  = image_tag("/images/four-reason.jpg", :style => "margin-left: 20px;")
  = image_tag("/images/separator.jpg", :style => "margin-left: 20px;")
  = image_tag("/images/first_reason.jpg", :style => "margin-left: 20px;")
  = image_tag("/images/second_reason.jpg", :style => "margin-left: 20px;")
  = image_tag("/images/first_reason.jpg", :style => "margin-left: 20px;")
  = image_tag("/images/ready-to-buffer.jpg", :style => "margin-left: 100px;")
  = link_to image_tag("/images/sign_up_now.jpg", :style=> "margin-left: 9px; margin-bottom: 10px; margin-top: 20px;"), ""