!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}

    = stylesheet_link_tag :jquery
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'general.css'
    = yield(:account_css)
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'


    = csrf_meta_tag
    = yield(:head)
    = yield(:home_css)
    = yield(:tweet_css)
    = yield(:plan_css)
    = yield(:goodies_css)
  #image-header
    = image_tag("/images/header.jpg")
  %body
    #header
      .container
        %h1= t("application.header")
        %h2= t("application.tagline")
        .menu#nav
          = Menu.get("main").render(request.fullpath, {:state => user_signed_in?})
        = yield(:signup_float)
    #alert
      .container
        - flash.each do |name, msg|
          #notification
            %span{:style => "float: right;"}
              %a{:href=>"#", :onclick => "$('#notification').fadeOut(); return false;"}
                =image_tag("close.png",:width=>"18", :height => "18")
            =msg
    #page
      .container
        = yield
    #image-footer
      = image_tag("/images/footer.jpg")
    = javascript_include_tag :defaults
    = javascript_include_tag "bpopup.js"
    = javascript_include_tag "button.js"
    = javascript_include_tag "notification.js"