!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = stylesheet_link_tag :jquery
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'


    = csrf_meta_tag
    = yield(:head)

  %body.bp
    #container.container
      #header.span-24
        %h1= t("application.header")
        %p= t("application.tagline")
        .menu.span-24.last#nav
          = Menu.get("main").render(request.fullpath, {:state => user_signed_in?})
      #alert.span-24
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => [name]
      #page.span-24
        = yield
      #footer.span-24
        .right
          = t("footer.copyright")
    #dialog
      .loading
        Loading...
      .content.clearfix
    = javascript_include_tag :defaults
    = javascript_include_tag "buffer_editor.js"